<div class="bg-[#000321] -mt-40">
  <div class="mx-auto max-w-2xl pt-48 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div
      class="my-24 grid grid-cols-1 gap-y-10 gap-x-16 sm:grid-cols-2 lg:grid-cols-12 xl:gap-x-8">
      <div class="col-span-4 md:col-span-12 lg:col-span-4">
        <img
          src="images/octabyte-services-white.png"
          alt="logo"
          class="pb-8 h-24" />
        <div class="flex gap-4">
          <a
            target="_blank"
            class="shadow bg-[#404258] rounded-[50%] py-[15px] px-[20px] flex items-center justify-center"
            href="https://www.facebook.com/octabyte.io/">
            <img
              alt="facebook"
              loading="lazy"
              width="15"
              height="20"
              decoding="async"
              data-nimg="1"
              style="color:transparent"
              src="images/facebook.svg" />
          </a>
          <a
            target="_blank"
            class="shadow bg-[#404258] rounded-[50%] py-[15px] px-[20px] flex items-center justify-center"
            href="https://x.com/octabyte_io">
            <img
              alt="twitter"
              loading="lazy"
              width="20"
              height="20"
              decoding="async"
              data-nimg="1"
              style="color:transparent"
              src="images/twitter.svg" />
          </a>
          <a
            target="_blank"
            class="shadow bg-[#404258] rounded-[50%] py-[15px] px-[20px] flex items-center justify-center"
            href="https://www.linkedin.com/company/octabyte-io">
            <img
              alt="linkedin"
              loading="lazy"
              width="20"
              height="20"
              decoding="async"
              data-nimg="1"
              style="color:transparent"
              src="images/linkedin.svg" />
          </a>
        </div>
      </div>
      <div class="group relative col-span-2 md:col-span-4 lg:col-span-2">
        <ul>
          <li class="mb-5">
            <a
              class="text-white text-sm font-normal mb-6 space-links"
              href="#home">
              Home
            </a>
          </li>
          <li class="mb-5">
            <a
              class="text-white text-sm font-normal mb-6 space-links"
              href="#our-services">
              Our Services
            </a>
          </li>
          <li class="mb-5">
            <a
              class="text-white text-sm font-normal mb-6 space-links"
              href="#about-us">
              About
            </a>
          </li>
          <li class="mb-5">
            <a
              class="text-white text-sm font-normal mb-6 space-links"
              href="#contact-us">
              Contact
            </a>
          </li>
        </ul>
      </div>
      <div class="group relative col-span-2 md:col-span-4 lg:col-span-2">
        <ul>
          <li class="mb-5">
            <a
              class="text-white text-sm font-normal mb-6 space-links"
              href="#!">
              POS Development
            </a>
          </li>
          <li class="mb-5">
            <a
              class="text-white text-sm font-normal mb-6 space-links"
              href="#!">
              Website
            </a>
          </li>
          <li class="mb-5">
            <a
              class="text-white text-sm font-normal mb-6 space-links"
              href="#!">
              Mobile Application
            </a>
          </li>
          <li class="mb-5">
            <a
              class="text-white text-sm font-normal mb-6 space-links"
              href="#!">
              CRM Solution
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-4 md:col-span-4 lg:col-span-4">
        <div class="flex gap-2">
          <img
            alt="mask-icon"
            loading="lazy"
            width="24"
            height="24"
            decoding="async"
            data-nimg="1"
            style="color:transparent"
            src="images/location.svg" />
          <h5 class="text-base font-normal text-offwhite">
            925 Filbert Street Pennsylvania 18072
          </h5>
        </div>
        <div class="flex gap-2 mt-10">
          <img
            alt="telephone-icon"
            loading="lazy"
            width="24"
            height="24"
            decoding="async"
            data-nimg="1"
            style="color:transparent"
            src="images/telephone.svg" />
          <h5 class="text-base font-normal text-offwhite">+ 45 34 11 44 11</h5>
        </div>
        <div class="flex gap-2 mt-10">
          <img
            alt="email-icon"
            loading="lazy"
            width="24"
            height="24"
            decoding="async"
            data-nimg="1"
            style="color:transparent"
            src="images/email.svg" />
          <h5 class="text-base font-normal text-offwhite">info@gmail.com</h5>
        </div>
      </div>
    </div>
    <div
      class="py-10 lg:flex items-center justify-between border-t border-t-bordertop">
      <h4 class="text-offwhite text-sm text-center lg:text-start font-normal">
        @2026 OctaByte. All Rights Reserved by
        <!-- -->
        <a target="_blank" href="https://octabyte.io/">
          <!-- -->
          OctaByte.
        </a>
      </h4>
      <div class="flex gap-5 mt-5 lg:mt-0 justify-center lg:justify-start">
        <h4 class="text-offwhite text-sm font-normal">
          <a href="#!" class="cursor-pointer">Privacy policy</a>
        </h4>
        <div class="h-5 bg-bordertop w-0.5"></div>
        <h4 class="text-offwhite text-sm font-normal">
          <a href="#!" class="cursor-pointer">Terms &amp; conditions</a>
        </h4>
      </div>
    </div>
  </div>
</div>
