<header id="header" class="py-7 w-full z-[9999] left-0 top-0 fixed">
  <div
    class="bg-white !h-auto max-h-[400px] overflow-y-scroll rounded-md mt-4 p-7 shadow backdrop-blur !bg-[#4e6bff] !py-4 !text-[#79808a] !visible hidden"></div>
  <div
    class="2xl:px-0 lg:flex md:px-8 px-4 justify-between items-center max-w-[86.875rem] mx-auto relative">
    <!-- Logo -->
    <div class="lg:w-1/4 justify-between items-center w-full flex">
      <a href="index.html">
        <img class="dark:hidden" src="images/logo-light.svg" />
        <img class="hidden dark:block" src="images/logo-dark.svg" />
      </a>

      <!-- Mobile Toggle -->
      <button class="lg:hidden block mr-3" onclick="toggleMenu()">
        <span class="relative w-[1.375rem] h-[1.375rem] block">
          <span
            class="absolute w-full h-[2px] bg-black top-0 transition-all"></span>
          <span
            class="absolute w-full h-[2px] bg-black top-2 transition-all"></span>
          <span
            class="absolute w-full h-[2px] bg-black top-4 transition-all"></span>
        </span>
      </button>
    </div>

    <!-- Menu -->
    <div
      id="header-menu"
      class="lg:w-3/4 lg:h-auto h-0 lg:flex lg:visible justify-between items-center w-full invisible">
      <nav>
        <ul class="lg:gap-10 lg:items-center lg:flex-row gap-5 flex flex-col">
          <li>
            <a href="#" class="hover:text-[#4E6BFF]">Home</a>
          </li>

          <li>
            <a href="#features" class="hover:text-[#4E6BFF]">Features</a>
          </li>

          <li>
            <a href="#support" class="hover:text-[#4E6BFF]">Support</a>
          </li>
        </ul>
      </nav>

      <!-- Right Side -->
      <div class="lg:mt-0 gap-6 items-center flex mt-7">
        <a href="#" id="right-side-item-1" class="font-medium text-white">
          Sign In
        </a>

        <a
          href="#"
          id="right-side-item-2"
          class="bg-[#ffffff26] text-white text-base leading-6 px-[1.87rem] py-3 rounded-full justify-center items-center flex">
          Sign Up
        </a>
      </div>
    </div>
  </div>
</header>
