<section
  id="home"
  class="xl:pb-[14.75rem] xl:pt-52 lg:pb-[7.5rem] md:pt-40 pb-20 pt-[8.75rem] overflow-hidden relative">
  <!-- Hero Images -->
  <div
    class="2xl:w-[48.875rem] 2xl:h-[42.875rem] md:block w-1/2 h-auto hidden top-0 right-0 absolute">
    <img
      src="images/shape-01.svg"
      alt="shape 1"
      class="2xl:block hidden z-[1] left-[-5%] top-[40%] absolute" />

    <img
      src="images/shape-02.svg"
      alt="shape 2"
      class="2xl:block hidden z-10 right-[20%] bottom-0 absolute" />

    <img
      src="images/shape-03.svg"
      alt="shape 3"
      class="2xl:block hidden z-10 bottom-[10%] left-[15%] absolute" />

    <img
      src="images/shape-04.svg"
      alt="shape 4"
      class="absolute top-0 right-0" />

    <img
      src="images/hero-image.png"
      alt="hero banner"
      class="absolute top-28 right-0 left-11 z-[1]" />
  </div>

  <!-- Hero Content -->
  <div class="2xl:px-0 md:px-8 px-4 max-w-[86.875rem] mx-auto">
    <div class="flex items-center">
      <div class="md:w-1/2">
        <h1
          class="xl:text-[50px] xl:leading-[62px] lg:text-3xl lg:leading-[2.25rem] text-[#181c31] font-[Outfit] font-semibold text-[1.875rem] leading-9 mb-6">
          We specialize in Web Development, Mobile Apps and Custom Software.
        </h1>

        <p class="lg:w-[79%]">
          From idea to deployment, we create fast, scalable software that helps
          businesses grow. We handle everything from planning and development to
          launch and optimization. Our solutions are built to perform reliably
          and adapt as your business evolves.
        </p>

        <div class="lg:flex-row gap-[1.875rem] flex-col-reverse flex mt-10">
          <a
            href="#contact-us"
            class="text-white leading-7 font-medium px-[1.875rem] py-3 bg-[#4e6bff] rounded-full w-fit inline-flex">
            Let’s Talk
          </a>

          <span class="flex-col flex">
            <a href="#!" class="text-[#181c31] font-medium text-lg">
              Call us (0123) 456 – 789
            </a>
            <span class="inline-block">For any question or concern</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
