<section class="pt-36 lg:pt-40 pb-20 lg:pb-24 text-center relative overflow-hidden">
  
  <!-- Hero Images -->
  <div class="hidden md:block w-1/2 absolute top-0 right-0">
    
    <img src="images/shape-01.svg" class="hidden 2xl:block absolute top-[40%] left-[-10%] z-[1]" />
    
    <img src="images/shape-02.svg" class="hidden 2xl:block absolute right-[20%] bottom-0 z-10" />
    
    <img src="images/shape-03.svg" class="hidden 2xl:block absolute left-[15%] bottom-[10%] z-10" />
    
    <img src="images/shape-04.svg" class="absolute top-0 right-0" />
    
    <img src="images/hero.png" class="absolute top-0 right-0 z-[1]" />
  
  </div>

  <!-- Hero Content -->
  <div class="mx-auto max-w-[1390px] px-4">
    <div class="flex items-center">
      
      <div class="w-full md:w-1/2">
        
        <h1 class="font-semibold text-3xl md:text-4xl lg:text-[50px] leading-[62px] text-[#181C31] mb-6">
          We specialize in UI/UX, Web Development, Digital Marketing.
        </h1>

        <p class="max-w-[500px] text-gray-500 mb-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla magna mauris. Nulla fermentum
          viverra sem eu rhoncus consequat varius nisi quis, posuere magna.
        </p>

        <div class="flex flex-col-reverse md:flex-row items-center gap-6 mt-10">
          
          <a href="#!" class="inline-flex items-center justify-center bg-blue-600 text-white px-6 py-3 rounded-full hover:shadow-lg transition">
            Get Started Now
          </a>

          <span class="flex flex-col text-center md:text-left">
            <a href="#!" class="font-medium text-lg text-[#181C31]">
              Call us (0123) 456 – 789
            </a>
            <span class="text-gray-500">
              For any question or concern
            </span>
          </span>

        </div>

      </div>
    </div>
  </div>

</section>