<div id="contact-us" class="mt-32 relative z-3">
  <div class="mx-auto max-w-2xl lg:max-w-7xl bg-blue-500 rounded-3xl">
    <div class="grid grid-cols-1 gap-y-10 gap-x-6 lg:grid-cols-2 xl:gap-x-8">
      <div class="hidden lg:block">
        <div class="float-right pt-20 relative">
          <img
            alt="bgimg"
            loading="lazy"
            width="588"
            height="334"
            decoding="async"
            data-nimg="1"
            style="color:transparent"
            src="images/newsletter-bg.png" />
          <div class="absolute top-10 right-0">
            <img
              alt="leafimg"
              loading="lazy"
              width="81"
              height="81"
              decoding="async"
              data-nimg="1"
              style="color:transparent"
              src="images/newsletter-leaf.svg" />
          </div>
          <div class="absolute bottom-8 left-2">
            <img
              alt="circleimg"
              loading="lazy"
              width="30"
              height="30"
              decoding="async"
              data-nimg="1"
              style="color:transparent"
              src="images/newsletter-circel.svg" />
          </div>
        </div>
      </div>
      <div class="p-10 flex flex-col justify-center">
        <h3 class="text-4xl md:text-5xl font-semibold mb-3 text-white">
          Have a project in mind? Let’s discuss.
        </h3>
        <h4 class="text-base font-normal mb-7 text-white">
          Share your project idea with us, and we’ll help you turn it into a
          powerful, scalable solution. From concept to deployment, we’re here to
          support you every step of the way.
        </h4>
        <div class="flex gap-0">
          <input
            type="Email address"
            class="py-4 text-sm w-full text-black bg-white rounded-l-lg pl-4"
            placeholder="@enter email-address"
            autocomplete="off"
            name="q" />
          <button
            class="bg-[#00276f] text-white font-medium py-2 px-4 rounded-r-lg">
            <img
              alt="plane-img"
              loading="lazy"
              width="20"
              height="20"
              decoding="async"
              data-nimg="1"
              style="color:transparent"
              src="images/plane.svg" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
