<section>
  <p class="py-6 text-center text-gray-400 text-base">
    Trusted by world's leading brands —
  </p>

  <div
    class="max-w-4xl mx-auto w-full px-4 sm:px-6 lg:px-8
         grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5
         gap-6 items-center justify-items-center"
    id="logo-container">
    <img
      src="images/company-logo-1.svg"
      alt="logo"
      class="h-7 w-auto max-w-xs opacity-60" />
    <img
      src="images/company-logo-2.svg"
      alt="logo"
      class="h-7 w-auto max-w-xs opacity-60" />
    <img
      src="images/company-logo-3.svg"
      alt="logo"
      class="h-7 w-auto max-w-xs opacity-60" />
    <img
      src="images/company-logo-4.svg"
      alt="logo"
      class="h-7 w-auto max-w-xs opacity-60" />
    <img
      src="images/company-logo-5.svg"
      alt="logo"
      class="h-7 w-auto max-w-xs opacity-60" />
  </div>
</section>
